<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYbruKxC3N6ECLE1iZ884uE_cY_TSDXyM</string>
	<key>GCM_SENDER_ID</key>
	<string>491023081310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kaam</string>
	<key>PROJECT_ID</key>
	<string>kaam-e6e80</string>
	<key>STORAGE_BUCKET</key>
	<string>kaam-e6e80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491023081310:ios:8f5e4fe3b2ead0674d79cf</string>
	<key>DATABASE_URL</key>
	<string>https://kaam-e6e80-default-rtdb.firebaseio.com</string>
</dict>
</plist>